function Fighter.new 1
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push local 0
call Fighter.draw 1
pop temp 0
push pointer 0
return
function Fighter.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Fighter.getLocation 1
push argument 0
pop pointer 0
push argument 1
push constant 16
call Math.divide 2
pop argument 1
push argument 1
push argument 2
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
return
function Fighter.draw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1440
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12304
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 19344
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16768
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15424
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1632
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3120
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 24582
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Fighter.erase 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Fighter.leftDraw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 24582
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3120
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1632
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 963
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 386
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2514
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4083
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1440
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 2016
call Memory.poke 2
pop temp 0
push constant 0
return
function Fighter.upDraw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15392
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 24704
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12416
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 6368
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3239
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1765
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1701
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3239
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 6368
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Fighter.downDraw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1816
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 6864
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 23200
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 22688
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 6864
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1816
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 268
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 262
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1987
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1345
call Memory.poke 2
pop temp 0
push constant 0
return
function Fighter.moveUp 1
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push pointer 0
push local 0
call Fighter.erase 2
pop temp 0
push this 1
push constant 2
sub
pop this 1
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push local 0
call Fighter.upDraw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Fighter.moveDown 1
push argument 0
pop pointer 0
push this 1
push constant 16
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push pointer 0
push local 0
call Fighter.erase 2
pop temp 0
push this 1
push constant 2
add
pop this 1
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push local 0
call Fighter.downDraw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Fighter.moveLeft 1
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push pointer 0
push local 0
call Fighter.erase 2
pop temp 0
push this 0
push constant 2
sub
pop this 0
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push local 0
call Fighter.leftDraw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Fighter.moveRight 1
push argument 0
pop pointer 0
push this 0
push constant 495
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push pointer 0
push local 0
call Fighter.erase 2
pop temp 0
push this 0
push constant 2
add
pop this 0
push pointer 0
push this 0
push this 1
call Fighter.getLocation 3
pop local 0
push local 0
call Fighter.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
